__pycache__
.vscode
build
dist
prismnet.egg-info
out
log.txt
events.out*
*.pth
.DS_Store
*.pdf
data/*
exp/*
!exp/prismnet/
!exp/logistic_reg/
!exp/plain_cnn_2d1d/
icSHAPE/*

# Evaluation results
evaluation/
mlruns/
.venv