__pycache__
.vscode
build
dist
prismnet.egg-info
out
log.txt
events.out*
*.pth
.DS_Store
*.pdf
data/*
exp/*
!exp/prismnet/
!exp/logistic_reg/
!exp/IGF2BP1_infer/
!exp/IGF2BP1_infer/**
icSHAPE/*
evaluation/*
